<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create" class="active">Create User</a>
    </div>
    <form action="/create" method="POST" class="form-add-new">
      <fieldset>
        <legend>Add New User</legend>
        <div class="input-group">
          <label>Email</label>
          <input name="email" type="text" />
        </div>
        <div class="input-group">
          <label>Name</label>
          <input name="name" type="text" />
        </div>
        <div class="input-group">
          <label>City</label>
          <input name="city" type="text" />
        </div>
        <div>
          <button type="submit">Save</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>
